{% set bodyclass = (bodyclass|default('')) %}
{% set hasNavLeft = (hasNavLeft|default(0)) %}
{% set sidebarLeft = (sideBarLeft|default(0)) %}
{% set sidebarRight = (sidebarRight|default(0)) %}
{% set hasBreadcrumb = (hasBreadcrumb|default(0)) %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        {% block meta %} {% endblock %}

        <title>
            {% block title %}API Validator - IGN{% endblock %}
        </title>

        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}"/>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous"/>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css">
            <link rel="stylesheet" href="{{ asset('css/style-carto.css') }}"/>
        {% endblock %}
    </head>

    <body class="{{ bodyclass }}">
        <div id="demo-wrapper"
             class="body-wrapper {% if hasNavLeft %} layout-navLeft{% else %} layout-default{% endif %}{% if sidebarLeft %} layout-sidebarLeft{% endif %}{% if sidebarRight %} layout-sidebarRight{% endif %}{% if bodyclass %} {{ bodyclass }}{% endif %}"
             data-specs="{{ path('validator_api_swagger') }}"
             data-api="{{ path('validator_api_root') }}"
             >
            {% block body %} {% endblock %}
        </div>

        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.0/umd/popper.min.js" integrity="sha512-uxtUCZ+gIIpqJVZe/0IgmHq5yqW+2gzo3zsSqRXSlUBEM2IYxxnuyg7+i7j9SCv1R74/Zixdx0v8OiyShPWbkQ==" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
