{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ "Démo - " ~ parent() }}{% endblock %}

{% block body %}
    <p class="text-center">
        <span class="icon-timer"></span><br/>
        Chargement...
    </p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('vendor/validator-api-client/validator-client.js') }}"></script>
    <script src="{{ asset('build/demo.js') }}"></script>
{% endblock %}
